<style>

  h2 {
    color: red;
    text-align: right;
    font-family: Helvetica;
    }

  p {
    color: #878787;
    text-align: right;
    font-family: Helvetica;
    }


  p2 {
    color: #000000;
    text-align: right;
    font-family: Times New Roman;
    }

  p3 {
    color: #5aaccf;
    text-align: right;
    font-family: Papyrus;
    }

  p4 {
    color: #71c13f;
    text-align: right;
    font-family: Comic Sans MS;
    }

  p5 {
    color: #878787;
    text-align: right;
    font-family: Helvetica;
    }


</style>
